<div>
  <app-header></app-header>
</div>
<!-- ##### About Us Area Start ##### -->
<div class="about-us-area section-padding-100-0 bg-img bg-overlay" id="about">
  <!-- <div class="row divSearch">
    <div class="col-6 col-lg-6">
        <form (ngSubmit)='performSearch($event)' color='primary' id='search-input' class='full-width' appearance='outline'>
            <input #searchBar matInput  [(ngModel)]='searchValue' name='searchBar' class="form-control" [value]='searchValue' (keyup.enter)='performSearch(searchValue)'>
         </form>
      </div>
    <div class="searchIcon" (click)='performSearch(searchValue)' style="background-image: url(../assets/img/search.png);">
    </div>
  </div> -->
  <div class="col-lg-12 col-12">
    <div class="col-lg-9 col-9" *ngIf="playlist">
     <div class="divPlayVideo">
      <div class="col-lg-3 col-3 divChanson" routerLink="/lecturevideo/{{video._id}}" *ngFor="let video of playlist.videos">
        <div class="about-thumbnail">
          <vg-player>
            <video #media [vgMedia]="media" id="singleVideo" preload="auto" crossorigin>
              <source src="{{video.urlVideo}}" type="video/mp4">
            </video>
          </vg-player>
        </div>
        <div class="divTitleChanteur">
          <p>{{video.chanteur}}</p>
          <p>{{video.titre}}</p>
        </div>
      </div>
     </div>
    </div>
    <div class="col-lg-3 col-3">
      <div *ngFor="let play of playlists">
        <div class="buy-tickets">
          <a (click)="changePlay(play._id)" class="btn btn-xs btn-default btnPlaylist">{{play.titre}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ##### About Us Area End ##### -->