<div>
  <app-header></app-header>
</div>
<!-- ##### About Us Area Start ##### -->
<div class="about-us-area section-padding-100-0 bg-img bg-overlay" id="about">
  <!-- ##### Upcoming Shows Area Start ##### -->
<!-- <div class="upcoming-shows-area section-padding-100">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading">
          <h2>Vos playlists</h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="upcoming-shows-content">
          <div class="single-upcoming-shows d-flex align-items-center flex-wrap" *ngFor="let play of playlist">
            <div class="shows-desc d-flex align-items-center">
              <div class="shows-name">
                <h6>{{play.titre}}</h6>
              </div>
            </div>
            <div class="buy-tickets">
              <a routerLink="/videosplaylist/{{play._id}}" class="btn musica-btn">Voir</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- ##### Upcoming Shows Area Start ##### -->
<div class="upcoming-shows-area">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sect-heading">
          <h2>Vos playlists</h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <!-- Upcoming Shows Content -->
        <div class="upcoming-shows-content">

          <!-- Single Upcoming Shows -->
          <div class="single-upcoming-shows d-flex align-items-center flex-wrap" *ngFor="let play of playlist">
            <div class="shows-date">
              <h2>{{play.videos.length}} <span>Ziks</span></h2>
            </div>
            <div class="shows-desc d-flex align-items-center">
              <div class="shows-img">
                <img src="../assets/img/eigen-cd-maken-minidisco.png" alt="">
              </div>
              <div class="shows-name">
                <h6>{{play.titre}}</h6>
              </div>
            </div>
            <div class="shows-location">
              <p>{{play.videos.length}} chansons</p>
            </div>
            <div class="buy-tickets">
              <a routerLink="/videosplaylist/{{play._id}}" class="btn musica-btn">Voir toutes les chansons</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ##### Upcoming Shows Area End ##### -->

<!-- ##### Upcoming Shows Area End ##### -->
</div>
<!-- ##### About Us Area End ##### -->
